.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-image{
    width: 40%;
    height: 600px;
/* height: 795px; */
justify-content: space-between;
flex-shrink: 0;
background: url(./Headshot.svg), lightgray 50% / cover no-repeat;
padding-left: 20px;
}