

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ede9e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ede9e6;
}

.App-link {
  color: #61dafb;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  h1 {
    @apply text-5x1 lg:text-[5rem] text-[#29282b] tracking-tight font-display;
  }

  h2 {
    @apply text-2xl not-italic font-bold leading-[normal] text-[#29282b];
  }

  h3 {
    @apply text-base not-italic font-bold leading-[normal];
  }

  p {
    @apply text-lg not-italic font-normal leading-[120%];
  }
}

@layer components{

}
