/* nav {
	display: flex;
	justify-content: space-between;
	padding: 48px;
	height: 72px;
}

nav .btn {
	border: none;
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	color: black;
}

.contact {
	color: #29282b;
	text-decoration: none;
}
.contact:hover {
	color: lightgray;
} */
