/* components/ImageGallery.module.css */

.collaborate-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  text-align: justify;
  /* Adjust the space between images using margin or padding */
}

.text-container {
  direction: ltr;
  text-align: justify;
}

.space {
  width: 40px; /* Adjust the space width between images */
}

.row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 80%;
}
.box {
  flex-grow: 1;
}
.box img {
  width: 100%;
  height: auto;
}

.box-33 {
  width: 32%;
}
/* You
   can add additional styles for the images if needed */
